Repository doinki/mado: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{cjs,js,jsx,mjs,ts,tsx}": "eslint --fix",
  "*.{json,md}": "prettier --write"
}

feat(hooks): Add useMediaQuery hook
  .changeset/long-buckets-wink.md
  packages/mado-hooks/src/index.ts
  packages/mado-hooks/src/useMediaQuery.ts
Due: eslint --fix, prettier --write

feat(hooks): Add useMediaQuery hook (#32)
  .changeset/long-buckets-wink.md
  packages/mado-hooks/src/index.ts
  packages/mado-hooks/src/useMediaQuery.ts
  packages/mado-hooks/src/useOnline.ts
  packages/mado-hooks/src/useVisibilityState.ts
Due: eslint --fix, prettier --write

chore: Bump dependencies
  .husky/pre-commit
  package.json
  packages/eslint-config-mado/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(eslint): Add eslint-plugin-trim
  .changeset/rich-poems-beg.md
  packages/eslint-config-mado/index.js
  packages/eslint-config-mado/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(eslint): Add eslint-plugin-trim (#34)
  .changeset/rich-poems-beg.md
  packages/eslint-config-mado/index.js
  packages/eslint-config-mado/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(eslint): Add eslint-plugin-tailwindcss
  packages/eslint-config-mado/package.json
  packages/eslint-config-mado/tailwindcss.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

changeset
  .changeset/modern-fireants-bow.md
Due: prettier --write

feat(eslint): Add eslint-plugin-tailwindcss (#36)
  .changeset/modern-fireants-bow.md
  packages/eslint-config-mado/package.json
  packages/eslint-config-mado/tailwindcss.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(eslint): Add react rules
  .changeset/purple-bikes-worry.md
  packages/eslint-config-mado/index.js
Due: eslint --fix, prettier --write

feat(eslint): Add react rules (#38)
  .changeset/purple-bikes-worry.md
  packages/eslint-config-mado/index.js
Due: eslint --fix, prettier --write

feat(eslint): Add @next/eslint-plugin-next and eslint-plugin-storybook
  .changeset/unlucky-carpets-beam.md
  .github/actions/pnpm-install/action.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
  packages/eslint-config-mado/next.js
  packages/eslint-config-mado/package.json
  packages/eslint-config-mado/storybook.js
  packages/mado-hooks/package.json
  packages/mado-utils/test/isPlainObject.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(eslint): Update files entry in package.json to include next.js and storybook.js
  .changeset/serious-foxes-wink.md
  packages/eslint-config-mado/package.json
Due: prettier --write

fix(eslint): Move tailwindcss to peerDependencies and mark as optional in package.json
  .changeset/purple-mangos-warn.md
  packages/eslint-config-mado/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(eslint): 🚀
  .changeset/sixty-carrots-rhyme.md
  packages/eslint-config-mado/eslint.config.js
  packages/eslint-config-mado/package.json
  packages/eslint-config-mado/src/javascript.ts
  packages/eslint-config-mado/src/typescript.ts
  packages/eslint-config-mado/src/unicorn.ts
  packages/mado-hooks/eslint.config.js
  packages/mado-invariant/eslint.config.js
  packages/mado-remember/eslint.config.js
  packages/mado-utils/eslint.config.js
  packages/mado-utils/test/isObjectLike.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(eslint): 🚀
  .changeset/few-bars-cut.md
  packages/eslint-config-mado/package.json
  packages/eslint-config-mado/src/import.ts
  packages/eslint-config-mado/src/query.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(eslint): 🔧
  .changeset/long-shirts-raise.md
  .lintstagedrc.json
  packages/eslint-config-mado/eslint.config.js
  packages/eslint-config-mado/package.json
  packages/eslint-config-mado/src/import.ts
  packages/eslint-config-mado/src/javascript.ts
  packages/eslint-config-mado/src/prettier.ts
  packages/eslint-config-mado/src/query.ts
  packages/eslint-config-mado/src/react.ts
  packages/eslint-config-mado/src/sort.ts
  packages/eslint-config-mado/src/typescript.ts
  packages/eslint-config-mado/src/unicorn.ts
  packages/mado-hooks/eslint.config.js
  packages/mado-invariant/eslint.config.js
  packages/mado-remember/eslint.config.js
  packages/mado-utils/eslint.config.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(eslint): 🔧
  .changeset/silver-breads-learn.md
  .lintstagedrc.json
  packages/eslint-config-mado/src/import.ts
  packages/eslint-config-mado/src/javascript.ts
  packages/eslint-config-mado/src/react.ts
  packages/eslint-config-mado/src/sort.ts
  packages/eslint-config-mado/src/typescript.ts
  packages/eslint-config-mado/src/unicorn.ts
Due: eslint --fix, prettier --write

chore: Bump dependencies
  package.json
  packages/eslint-config-mado/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(eslint): 🔧
  .changeset/nine-flies-knock.md
  package.json
  packages/eslint-config-mado/src/react.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(eslint): 🔧
  .changeset/neat-crabs-travel.md
  package.json
  packages/eslint-config-mado/package.json
  packages/eslint-config-mado/src/import.ts
  packages/eslint-config-mado/src/index.ts
  packages/eslint-config-mado/src/javascript.ts
  packages/eslint-config-mado/src/prettier.ts
  packages/eslint-config-mado/src/react.ts
  packages/eslint-config-mado/src/sort.ts
  packages/eslint-config-mado/src/typescript.ts
  packages/eslint-config-mado/src/unicorn.ts
  packages/mado-hooks/eslint.config.js
  packages/mado-invariant/eslint.config.js
  packages/mado-remember/eslint.config.js
  packages/mado-utils/eslint.config.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(eslint): Update generateConfig return type
  .changeset/salty-toes-change.md
  package.json
  packages/eslint-config-mado/package.json
  packages/eslint-config-mado/src/import.ts
  packages/eslint-config-mado/src/javascript.ts
  packages/eslint-config-mado/src/prettier.ts
  packages/eslint-config-mado/src/query.ts
  packages/eslint-config-mado/src/react.ts
  packages/eslint-config-mado/src/sort.ts
  packages/eslint-config-mado/src/typescript.ts
  packages/eslint-config-mado/src/unicorn.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: Rename test directory to tests
  packages/mado-hooks/tests/useDebounce.test.ts
  packages/mado-hooks/tests/useEvent.test.ts
  packages/mado-hooks/tests/useIsMounted.test.ts
  packages/mado-hooks/tests/useIsomorphicLayoutEffect.node.test.ts
  packages/mado-hooks/tests/useIsomorphicLayoutEffect.test.ts
  packages/mado-hooks/tests/useOnline.test.ts
  packages/mado-hooks/tests/useRerender.test.tsx
  packages/mado-hooks/tests/useVisibilityState.test.ts
  packages/mado-invariant/tests/invariant.test.ts
  packages/mado-remember/tests/remember.test.ts
  packages/mado-utils/tests/capitalize.test.ts
  packages/mado-utils/tests/debounce.test.ts
  packages/mado-utils/tests/isNil.test.ts
  packages/mado-utils/tests/isObjectLike.test.ts
  packages/mado-utils/tests/isPlainObject.test.ts
  packages/mado-utils/tests/storageAvailable.test.ts
Due: eslint --fix

refactor: Change file naming convention from camelCase to kebab-case
  packages/mado-hooks/src/index.ts
  packages/mado-hooks/src/use-debounce.ts
  packages/mado-hooks/src/use-event.ts
  packages/mado-hooks/src/use-is-mounted.ts
  packages/mado-hooks/src/use-isomorphic-layout-effect.ts
  packages/mado-hooks/src/use-media-query.ts
  packages/mado-hooks/src/use-online.ts
  packages/mado-hooks/src/use-rerender.ts
  packages/mado-hooks/src/use-visibility-state.ts
  packages/mado-hooks/tests/use-debounce.test.ts
  packages/mado-hooks/tests/use-event.test.ts
  packages/mado-hooks/tests/use-is-mounted.test.ts
  packages/mado-hooks/tests/use-isomorphic-layout-effect.node.test.ts
  packages/mado-hooks/tests/use-isomorphic-layout-effect.test.ts
  packages/mado-hooks/tests/use-online.test.ts
  packages/mado-hooks/tests/use-rerender.test.tsx
  packages/mado-hooks/tests/use-visibility-state.test.ts
  packages/mado-utils/src/index.ts
  packages/mado-utils/src/is-nil.ts
  packages/mado-utils/src/is-object-like.ts
  packages/mado-utils/src/is-plain-object.ts
  packages/mado-utils/src/storage-available.ts
  packages/mado-utils/tests/is-nil.test.ts
  packages/mado-utils/tests/is-object-like.test.ts
  packages/mado-utils/tests/is-plain-object.test.ts
  packages/mado-utils/tests/storage-available.test.ts
Due: eslint --fix

refactor(utils): ♻️
  packages/mado-utils/package.json
  packages/mado-utils/src/storage-available.ts
  packages/mado-utils/tests/capitalize.test.ts
  packages/mado-utils/tests/debounce.test.ts
  packages/mado-utils/tests/is-nil.test.ts
  packages/mado-utils/tests/is-object-like.test.ts
  packages/mado-utils/tests/is-plain-object.test.ts
  packages/mado-utils/tests/storage-available.test.ts
  packages/mado-utils/tsconfig.json
  packages/mado-utils/tsup.config.ts
Due: eslint --fix, prettier --write

refactor(remember): ♻️
  packages/mado-remember/package.json
  packages/mado-remember/tests/remember.test.ts
  packages/mado-remember/tsconfig.json
  packages/mado-remember/tsup.config.ts
Due: eslint --fix, prettier --write

refactor(invariant): ♻️
  packages/mado-invariant/package.json
  packages/mado-invariant/tests/invariant.test.ts
  packages/mado-invariant/tsconfig.json
  packages/mado-invariant/tsup.config.ts
Due: eslint --fix, prettier --write

refactor(eslint): ♻️
  .changeset/deep-bikes-shine.md
  .cursor/rules/conventional-commits.mdc
  .editorconfig
  .github/actions/pnpm-install/action.yml
  .github/workflows/pull-request.yml
  .github/workflows/release.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .npmrc
  .nvmrc
  .vscode/extensions.json
  package.json
  packages/eslint-config-mado/eslint.config.js
  packages/eslint-config-mado/package.json
  packages/eslint-config-mado/src/constant.ts
  packages/eslint-config-mado/src/import.ts
  packages/eslint-config-mado/src/index.ts
  packages/eslint-config-mado/src/javascript.ts
  packages/eslint-config-mado/src/prettier.ts
  packages/eslint-config-mado/src/query.ts
  packages/eslint-config-mado/src/react.ts
  packages/eslint-config-mado/src/sort.ts
  packages/eslint-config-mado/src/turbo.ts
  packages/eslint-config-mado/src/typescript.ts
  packages/eslint-config-mado/src/unicorn.ts
  packages/eslint-config-mado/tsconfig.json
  packages/mado-hooks/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: eslint --fix, prettier --write

chore: esbuild-plugin-extension 개발 의존성 추가
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: pnpm workspace에 onlyBuiltDependencies 설정 추가
  pnpm-workspace.yaml
Due: none

refactor: mado-invariant와 mado-remember를 mado-utils로 통합
  .changeset/tough-roses-begin.md
  package.json
  packages/eslint-config-mado/package.json
  packages/mado-invariant/CHANGELOG.md
  packages/mado-invariant/README.md
  packages/mado-invariant/eslint.config.js
  packages/mado-invariant/package.json
  packages/mado-invariant/tsconfig.json
  packages/mado-invariant/tsup.config.ts
  packages/mado-remember/CHANGELOG.md
  packages/mado-remember/README.md
  packages/mado-remember/eslint.config.js
  packages/mado-remember/package.json
  packages/mado-remember/tsconfig.json
  packages/mado-remember/tsup.config.ts
  packages/mado-utils/eslint.config.js
  packages/mado-utils/package.json
  packages/mado-utils/src/index.ts
  packages/mado-utils/src/invariant.ts
  packages/mado-utils/src/remember.ts
  packages/mado-utils/src/storage-available.ts
  packages/mado-utils/tests/invariant.test.ts
  packages/mado-utils/tests/remember.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

build: mado-hooks 빌드 시스템을 rollup으로 전환
  .changeset/yellow-worlds-stay.md
  package.json
  packages/mado-hooks/babel.config.js
  packages/mado-hooks/eslint.config.js
  packages/mado-hooks/package.json
  packages/mado-hooks/rollup.config.js
  packages/mado-hooks/src/use-event.ts
  packages/mado-hooks/src/use-is-mounted.ts
  packages/mado-hooks/src/use-media-query.ts
  packages/mado-hooks/src/use-online.ts
  packages/mado-hooks/src/use-visibility-state.ts
  packages/mado-hooks/tsconfig.json
  packages/mado-hooks/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: useBoolean과 useIsUnmountedRef 훅 추가
  .changeset/tame-bikes-smash.md
  .vscode/settings.json
  packages/mado-hooks/src/index.ts
  packages/mado-hooks/src/use-boolean.ts
  packages/mado-hooks/src/use-is-unmounted-ref.ts
Due: eslint --fix, prettier --write
